<!doctype html>
<html ng-app="theApp">

  <head>
    <meta charset="utf-8">
     <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js"></script>
    <script src="main.js"></script>
    <script src="controllers/typeaheadCtrl.js"></script>
    <script src="controllers/multifilterCtrl.js"></script>
    <script src="controllers/innerfilterCtrl.js"></script>
    <script src="controllers/advSearchCtl.js"></script>
    <script src="controllers/datesCtrl.js"></script>
  </head>

  <body ng-controller="MainCtrl">

<div style="background: #444; text-align: center; color: white;padding: 8px; font-size: 25px; margin-bottom: 20px;">
    CARGOGRAFÍAS
</div>

<div class="container" style="position: relative;">
  <br />
  <br />
  <br />
  <div  ng-hide="showAdvanced" style="position: absolute; top:0; right: 0;"><a ng-click="openAdvanced()">Filtro Avanzado</a></div>  
  <div ng-show="showAdvanced" style="position: absolute; top:0; right: 0;"><a ng-click="openAdvanced()">Filtro Simple</a></div>  
</div>

<div class='container' style="position: relative;" ng-hide="showAdvanced">
  
  <div class="row" ng-controller="TypeaheadCtrl">

    <div class="col-sm-6">

      <div class="form-group">
        <input type="text" ng-model="asyncSelected2" placeholder="Buscar por Nombre" typeahead="person as person.name for person in getPerson($viewValue)" typeahead-template-url="customTemplate.html" typeahead-on-select="oneSelected($value)" class="form-control">    
      </div>

    </div>
    <div class="col-sm-6">
      <div>Selected: </div>
      <div ng-repeat="item in selected">
        <a ng-click="removeThis($index)"><span class="glyphicon glyphicon-trash"></span></a>
        <img ng-src="{{item.image}}" width="30" />
        <span>{{item.name}}</span>
      </div>
    </div>
  </div>


</div>

<div class="container" ng-show="showAdvanced" ng-controller="AdvancedCtl">
  

  <div class="row">

    <div class="col-sm-12">
      <h2>Filtro Avanzado</h2>
      <div>

      <table>
        <tr>
          <td>Field</td>
          <td>Operator</td>
          <td>Value</td>
          <td></td>
        </tr>

        <tr ng-repeat="criterio in criterios">
          <td>
            <select ng-model="criterio.field">
              <option>Person.Name</option>
              <option>Person.DateOfBirth</option>
              <option>Person.DateOfDeath</option>
              <option>Membership.Label</option>
              <option>Membership.Role</option>
              <option>Membership.Geo</option>
              <option>Membership.Start</option>
              <option>Membership.End</option>
              <option>Organization.Name</option>
              <option>Organization.Geo</option>
              <option>Post.Label</option>
              <option>Post.Function</option>
              <option>Post.Geo</option>
            </select>
          </td>
          <td>
            <select ng-model="criterio.operator">
              <option>like (string)</option>
              <option>after (date)</option>
              <option>before (date)</option>
              <option>place (geo)</option>
            </select>
          </td>
          <td>
            <input ng-model="criterio.value" type="text" />
          </td>
          <td>
            <a ng-click="removeCrit($index)">-</a>
          </td>
        </tr>

      </table>
        
      <a ng-click="addAnother()">Add Another</a>
      </div>

    </div>
  </div>

  <div class="row">

    <div class="col-sm-6">
      <div>Matching: </div>
      <div ng-repeat="match in matches">
        
      </div>
    </div>
    <div class="col-sm-6">
      <div>Selected: </div>
      <div ng-repeat="item in selected">
        <a ng-click="removeThis($index)"><span class="glyphicon glyphicon-trash"></span></a>
        <img ng-src="{{item.image}}" width="30" />
        <span>{{item.name}}</span>
      </div>
    </div>


  </div>
  
</div>

<div class="container" ng-controller="DatesCtrl">
 <br />
 <br />
 <br />
  <div class="row">
    <div class="col-sm-12">
      Restingir Fechas <input type="checkbox" ng-model="showfechas" />
    </div>
  </div>  

  <div class="row" ng-show="showfechas">
    <div class="col-md-2">
  
    <label for="exampleInputEmail1">Desde</label>

      <p class="input-group">
          <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
      </p>
    </div>
    <div class="col-md-2">  

      <label for="exampleInputEmail1">Hasta</label>

      <p class="input-group">
          <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
      </p>
    </div>
  </div>  


</div>

<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <img src="linea.PNG" style="display: block; max-width: 100%;" />
    </div>
  </div>  

</div>

  <script type="text/ng-template" id="customTemplate.html">
    <a>
        <img ng-src="{{match.model.image}}" width="30">
        <span bind-html-unsafe="match.model.name | typeaheadHighlight:query"></span>
    </a>
  </script>



  <script type="text/ng-template" id="advancedFilter.html">
      <div class="modal-header">
          <h3 class="modal-title">Im a modal!</h3>
      </div>
      <div class="modal-body">
      
        <h1>Búsqueda Avanzada</h1>

        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Cargo</label>
            <input type="email" class="form-control" placeholder="Cargo">
            <p class="help-block">Ej: Ministro de Educación</p>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Área</label>
            <input type="email" class="form-control" placeholder="Área">
            <p class="help-block">Ej: Buenos Aires</p>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Partido</label>
            <input type="email" class="form-control" placeholder="Partido">
            <p class="help-block">Ej: Frente Para la Victoria</p>
          </div>

        </form> 

      </div>
      <div class="modal-footer">
          <button class="btn btn-primary" ng-click="ok()">OK</button>
          <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
      </div>
  </script>



  </body>

</html>